@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jyh7w6');
  src:  url('fonts/icomoon.eot?jyh7w6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jyh7w6') format('truetype'),
    url('fonts/icomoon.woff?jyh7w6') format('woff'),
    url('fonts/icomoon.svg?jyh7w6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fish-svgrepo-com:before {
  content: "\e903";
}
.icon-meat-slice-silhouette-svgrepo-com:before {
  content: "\e904";
}
.icon-pudding-dessert-svgrepo-com:before {
  content: "\e905";
}
.icon-wine-svgrepo-com:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e907";
}
.icon-alternate_email:before {
  content: "\e908";
}
.icon-cancel:before {
  content: "\e90b";
}
.icon-instagram-with-circle:before {
  content: "\e90c";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-restaurant:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e909";
}
.icon-arrow-thick-up:before {
  content: "\e90a";
}
.icon-view-list:before {
  content: "\e900";
}
.icon-food:before {
  content: "\e901";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-whatsapp:before {
  content: "\ea93";
}
